//---GLOBAL---
$green-color: #13e28d;
$white-color: #FFF;
$yellow-color: #ffdd3f;

//---CARD---
$card-bg-color: #212534;
$card-text-color: #b7bacd;


//---HEADER---
$card-head-bg-color: #2b3040;

//---GALLERY---
$rating-color: #45536d;

//---CONTACT---


//---FOOTER---

